## Selecting a pandas series from a DF

dataframe = rows and colums, a series = column.

In [1]:
import pandas as pd

In [2]:
ufo = pd.read_table("http://bit.ly/uforeports", sep=',')

In [4]:
type(ufo)

pandas.core.frame.DataFrame

In [7]:
type(ufo.head())

pandas.core.frame.DataFrame

In [6]:
ufo['City']

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [8]:
ufo.City

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [9]:
ufo.City

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [10]:
ufo['Colors Reported']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
18236    NaN
18237    NaN
18238    NaN
18239    RED
18240    NaN
Name: Colors Reported, Length: 18241, dtype: object

In [11]:
ufo.shape

(18241, 5)

In [12]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

ufo.City = dot notation

In [17]:
ufo.City + ' , '+ ufo.State

0                      Ithaca , NY
1                 Willingboro , NJ
2                     Holyoke , CO
3                     Abilene , KS
4        New York Worlds Fair , NY
                   ...
18236              Grant Park , IL
18237             Spirit Lake , IA
18238             Eagle River , WI
18239             Eagle River , WI
18240                    Ybor , FL
Length: 18241, dtype: object

In [21]:
ufo['*Location*'] = ufo.City + ' , '+ ufo.State

In [22]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location,*Location*
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca , NY","Ithaca , NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro , NJ","Willingboro , NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke , CO","Holyoke , CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene , KS","Abilene , KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair , NY","New York Worlds Fair , NY"

when creating new columns or series you need to use [] notation