In [5]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [10]:
df.tail()  # last 5 row

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [14]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [18]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [19]:
type(df['event'])

pandas.core.series.Series

In [22]:
df[['event','day']]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [23]:
df['temperature'].max()

35

In [25]:
df['temperature'].min()

24

In [27]:
df['temperature'].mean()

30.333333333333332

In [29]:
df['temperature'].std()

3.8297084310253524

In [31]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [35]:
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [38]:
df[df.temperature==df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [40]:
df[df.windspeed==df['windspeed'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
3  1/4/2017           24          7   Snow

In [58]:
df[['day','temperature']][df.temperature==df['temperature'].max()]

        day  temperature
1  1/2/2017           35

In [60]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
df
weather

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [65]:
weather = {
    'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017'],
    'temp':['100','29','35','42','37'],
    'velocidad': ['10','20','15','11','22'],
    'event':['rain','sunny','cold','snow','windy'],
    'other':['raul','pepe','ronaldo','jordan','tiger']
    
}

df = pd.DataFrame(weather)
df

        day temp velocidad  event    other
0  1/1/2017  100        10   rain     raul
1  1/2/2017   29        20  sunny     pepe
2  1/3/2017   35        15   cold  ronaldo
3  1/4/2017   42        11   snow   jordan
4  1/5/2017   37        22  windy    tiger

In [ ]:
print ("hello")